div.InzeratNadpis {
    font-size: 16px;
    margin-bottom: 4px;
    color:#062c33 ;
}

div.InzeratText
{
    color: #1b1e21;
    margin-bottom: 6px;

    overflow-wrap: break-word;
    word-wrap: break-word;

}

.InzeratBody,.InzeratBodyDetail
{
    padding: 0 5px 0 5px;
    overflow: hidden;

}

.inzeratBody
{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    padding-top: 5px;


}

.bodyContainer {
    max-width: 55%;
    margin: auto;
}

.inzeratyContainer {

    margin:auto;
}

.category {
    background-color: forestgreen;
    display: inline-block;
    padding: 4px 6px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25em;
    margin-bottom: 4px;
    width: auto;
}



